.header {
    padding-top: 96px;
    padding-bottom: 77px;
    font-style: normal;
}

.header__title {
    margin: 0;
    width: 670px;
    height: 64px;
    padding-left: 160px;
    font-weight: 500;
    font-size: 50px;
}
