.header__logo {
    display: flex;
    gap: 8px;
    padding: 16px 0;
}

.header {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.header_template {
    background-color: var(--white);
}

.header__title {
    font-weight: 500;
    font-size: 50px;
    padding-left: 160px;
    margin: 24px 0 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
