.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.tooltip__bubble {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grey-2);
    padding: 13px 21px 8px 21px;
    background: var(--blue-1);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    display: none;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    bottom: calc(100% + 8px);
    transform: translateX(-50%);
}

.tooltip__bubble:before {
    content: "";
    border: 10px solid transparent;
    border-top-color: var(--blue-1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--blue-1);
    z-index: -1;
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}
