.footer {
    font-family: 'Inter', sans-serif;
    padding-top: 71px;
    padding-bottom: 136px;
    font-style: normal;
}

.footer_template {
    background: #E5E5E5;
}

.footer__title {
    margin: 0;
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    vertical-align: top;
    color: #212429;
}

.footer_template .footer__title {
    text-align: center;
    margin: 56px auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.footer__description {
    margin-top: 32px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    color: #212429;
    padding-left: 417px;
    padding-right: 383px;
}
