.formgroup {
    font-family: 'Inter';
}

.formgroup__label {
    display: block;
    margin-bottom: 5px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.formgroup__control {
    position: relative;
    display: inline-block;
    margin: 0;
}

.formgroup__input, .formgroup__dropdown {
    box-sizing: border-box;
    min-width: 350px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
    padding: 17px 46px 13px 24px;
    background: #FFFFFF;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
}

.formgroup__select {
    margin-top: 24px;
    font-family: inherit;
}

.formgroup__dropdown {
    -webkit-appearance: none;
    appearance: none;
}

.input::placeholder {
    font-family: inherit;
    color: var(--grey-2);
}

.formgroup__input:focus, .formgroup__input_focus, .formgroup__dropdown:focus {
    outline: none;
    border: 1px solid var(--blue-1);
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.formgroup > .formgroup__control > .formgroup__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(50% - 24px/2);
    right: 16px;
}

.formgroup_error > .formgroup__control > .formgroup__input {
    outline: none;
    border: 1px solid #F03D3E;
    box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
}

.formgroup__icon_success {
    color: #374FC7;
}

.formgroup__icon_error {
    color: #F03D3E;
}

.formgroup__icon_uncover {
    color: #4263EB;
}
